*, *::after, *::before
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 16px
  font-family: 'Lato', sans-serif

$faded : rgba(0,0,0,0.3)

body
  width:90%
  margin: 0 auto

.container
  margin-top: 2rem
  display: grid
  grid-auto-flow: row
  grid-row-gap: 1rem
  grid-column-gap: 1rem
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

// per-album card

.album-card
  background-color: white
  background-image: linear-gradient(to bottom right ,rgba(0,0,0,0), rgba(0,0,0,.05))
  //border-radius: 1rem
  padding: 0.5rem
  display: flex
  //box-shadow: 0px 0px 18px rgba(0,0,0,.3)
  flex-direction: column
  min-width: 150px
  max-width: 400px
  font-size: 1rem
  text-align: center
  .albumName
    order: 1
    color: red
    font-size: 1.2rem
    border-bottom: 2px ridge black
  .ArtistName
    order: 2
    font-size: 1.1rem
    border-bottom: 2px soid black
  .genre
    order: 4
    font-size: 0.8rem
    font-style: italic
  .year
    order: 5
    font-size: 0.8rem
    font-style: italic
  .rating
    order: 6
    font-size: 1rem
  .thumbail
    order: 3


.thumbnail img
  width: 200px
  height: 200px
  max-width: 90%
  transform: perspective(400px) rotateY(30deg)

.filledStar
  color: red

.emptyStar
  color: rgba(255,0,0,.2)

.two-col
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: space-between
  align-content: flex-start
  align-items: flex-start

.left
  display: inline-block
  width: 70%

// sort options panel

.right
  display: inline-block
  width: 20%

#sortOptions input
  display: inline-block

// form elements

input, select
  border-radius: 4px
  font-size: 1.3rem


.form-input
  display: flex
  flex-direction: column

.form-item
  margin: .5rem 0
  display: flex
  flex-direction: row
  align-items: center
  label
    width: 30%

input:placeholder
  color: rgba(0,0,0,.1)
